<!DOCTYPE html>
<html ng-app ng-csp>
  <head>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/widget.js"></script>
    <link rel="stylesheet" href="css/css.css" type="text/css" media="screen" />
  </head>

  <body ng-controller="viewCtrl">
    <div id="bookmarks">
      <div ng-repeat="bookmark in view" class="bkmrk-item">
        <a href="{{ bookmark.url || '#' }}" target="{{ bookmark.url && '_top' || ''}}">
          <div ng-show="$eval('bookmark.children.length >= 0')" ng-click="changeView(bookmark.index)" class="bkmrk-title">
            <img src="/img/folder.png" class="bkmrk-icon" />
            {{ bookmark.title }}
          </div>
          <div ng-hide="$eval('bookmark.children.length >= 0')" class="bkmrk-title">
            <img ng-src="https://www.google.com/s2/u/0/favicons?domain={{$eval('getHostname(bookmark.url)')}}" class="bkmrk-icon" />
            {{ bookmark.title }}
          </div>
        </a>
      </div>
    </div>

    <div id="crumbs">
      <ul id="breadcrumbs">
        <li ng-repeat="crumb in crumbs">
          <a href="#" ng-click="changeView($index, true, $last)" ng-class="{bold: $last == true}" title="{{$first && 'Home' || crumb}}">{{$first && 'Home' || crumb}}</a><span ng-hide="$last" class="divider">/</span>
        </li>
      </ul>
      <div id="pin" ng-click="saveFavorite()" class="{{ favoriteActive }}" title="Start this widget in this folder">
        <img src="/img/small_star.png" />
      </div>
      <div id="edit" ng-click="manageBookmarks()" title="Bookmark manager">
        <img src="/img/small_edit.png" />
      </div>
    </div>
  </body>
</html>
